@import 'base.scss';

$color-primary: #004e27;

header {
  margin-bottom: 15px;
  .info-bar {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3.2rem;
      p {
        font-size: 12px;

        min-width: 560px;
        display: flex;
        align-items: center;
        line-height: 3.2rem;
        i {
          font-size: 1.5rem;
          color: #ed1f24;
          margin-right: 5px;
        }
        .hotline-icon {
          font-weight: bold;
          transform: rotate(-90deg);
        }
        a {
          font-size: 12px;
        }
        span {
          vertical-align: middle;

        }
        .separator {
          font-size: 1.2rem;
          margin: 0px 10px;
          color: #959595;
        }
      }
      .search-group {
        max-width: 242px;
        height: 2.6rem;
        align-items: center;
        display: flex;
        color: #c3c3c3;
        border: 1px solid #c3c3c3;
        padding: 0px 5px;
        .search-box{
          border: none;
          margin-right: 5px;
          outline: none;
          font-size: 12px;

        }
        .search-icon {
          font-size: 2rem;
          border: none;
          background-color: transparent;
          color: #c3c3c3;
          outline: none;
          cursor: pointer;
        }
      }

    }
  
  }

  .logo-bar{
    height: 80px;
    background-image: url('../img/0-header/background.png');
    background-size: cover;
    background-color: #008944;
    color: white;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-group {
        height: 80px;
        display: flex;
        align-items: center;
        .logo-image {
          width: 88px;
          height: 64px;
          margin-right: 20px;
        }
        .title-big {
          font-size: 1.85rem;
          line-height: 1;
          margin-bottom: 10px;
        }
        .title-small {
          font-size: 1.4rem;
        }
      }

      .social {
        .languages {
          text-align: right;
          margin-bottom: 15px;
          a {
            font-size: 12px;
          }
          .separator {
            margin: 0px 10px;
          }

        }
        .social-link {
          display: flex;
          flex-wrap: nowrap;
          text-align: right;
          div {
            text-align: center;
            padding-left: 18px;
            i {
              font-size: 2.2rem;
              &:hover {
                color: $color-primary;
              }
              img {
                width: auto;
                height: auto;
              }
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .nav-bar {
      height: 37px;
      background-color: #004e27;
      .list-group {
        color: white;
        height: 37px;
        display: flex;
        align-items: center;
        .list-item {
          flex-grow: 1;
          text-align: center;
          height: 100%;
          line-height: 37px;
          position: relative;
          padding: 0px 15px;
          &:hover {
            background-color:  #00582c;
            a {
              color: white;
            }
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 37px;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: bold;
            i {
              font-size: 2rem;
              line-height: 37px;
              margin-right: 5px;
            }
          }
          &::after{
            content: '';
            z-index: 1;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            width: 2px;
            height: 15px;
            background-color: #007138;
            border-right: 1px solid #00381c;
          }
          &:hover {
            .sub-menu {
              display: block;
            }
          }
        }
        .list-item:first-child{
          text-align: left;
          flex-grow: 0.5;
          padding-left: 0;
        }
        .list-item:last-child{
          text-align: right;
          flex-grow: 0.5;
          padding-right: 15px;
          &::after {
            content: none;
          }
        }
        .sub-menu {
          position: absolute;
          min-width: 200px;
          top: 100%;
          left: 0px;
          background-color: #004e27;
          display: none;
          z-index: 1;
          a {
            display: block;
            width: 100%;
            height: 37px;
            text-align: left;
            padding-left: 20px;
            padding-right: 15px;
            border-bottom: 1px solid #00000020;
            &:hover {
              background-color: #00582c;
            }
          }
        }
      }
  }

  .ticker-bar {
    border-bottom: 1px solid #ebebeb;
    .wrapper {
      height: 33px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      .hot {
        width: 21px;
        height: 10px;
        background-color: #f30000;
        color: white;
        font-size: 0.6rem;
        text-align: center;
        margin-right: 17px;
        padding: 2px;
        border-radius: 2px;
      }
      .marquee {
        width: 100%;
        a {
          margin:0px 10px;
          font-size: 12px;
        }
      }

    }
  }
 
}

$wrapper-width: 1130px;
$gap: 15px;
$gap-sm: 10px;
$col-sm: 420px;
$col-big: 695px;

html, body, main {
  width: 100%;
}

.wrapper {
  width: 1130px;
  margin: auto; 
}

.big-col {
  width: 695px;
}
.small-col {
  width: 420px;

}

.all-tabs-content > div {
  display: none;
}
.show {
  display: block !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin float-lt($col:2, $gap:0) {
  float:left;
  width: calc((100% - ($col - 1) * $gap) / $col);
}


main {
  .post-list {
    font-size: 1.4rem;
    color: #333333;
    .post-thumb {
      margin-bottom: 8px;
      display: block;
    }
    .post-title {
      font-weight: bold;
      display: block
    }
    .post-desc {
      display: none;
    }
  }
  .main-top {
    margin-bottom: 15px;
    a:hover {
     color: #008944; 
    }
    .wrapper {
      display: flex;
      .big-col {
        width: 695px;
        margin-right: 15px;
        .post-list {
          margin: -7.5px;
          .post {
            float: left;
            width: calc((100% - 4*15px)/4);
            margin: 7.5px;
          }
          .post:first-child{
            width: calc(100% - ((100% - 4*15px)/4) - 30px);
            .post-thumb {
              margin-bottom: 12px;
              display: block;
            }
            .post-title {
              font-size: 2.2rem;
              margin-bottom: 15px;
            }
            .post-desc {
              display: block;
            }
          }
        }

        .banner {
          margin-bottom: 15px;
        }

        .megastory {
          padding: 15px;
          background-color: #fedd7c;
          &::after{
            content: ' ';
            clear: both;
            display: table;
          }
          h2 {
            display: inline-block;
            padding-bottom: 8px;
            border-bottom: 1px solid #ed1c24;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 700;
            margin-bottom: 15px;
          }
          .post-list {
            display: flex;
            flex-wrap: wrap;
            .post:first-child{
              width: calc(100% - ((100% - 4*15px)/4)*2 - 45px);
              position: relative;
              .post-thumb {
                margin-bottom: 0px;
              }
              .post-title {
                font-size: 1.8rem;
                color: white;
                position: absolute;
                bottom: 10px;
                left: 15px;
                max-width: 295px;
              }
            }
          }
        }
      }

      .small-col {
        font-size: 1.4rem;
        .live-tv {
          margin-bottom: 10px;
          .tabs-heading {
            display: flex;
            height: 33px;
            h3 {
              color: white;
              text-align: center;
              font-size: 14px;
              line-height: 33px;
              flex-grow: 1;
              margin-right: 1px;
              width: calc(100% / 3);
              cursor: pointer;
            }
            .tab1 {
              background-color: #ce3d3d;
            }
            .tab2 {
              background-color: #008944;
            }
            .tab3 {
              background-color: #004e27;
              margin-right: 0px;
            }
          }
          .all-tabs-content {
            div {
              h3 {
                height: 37px;
                line-height: 37px;
                text-transform: uppercase;
                color: #292929;
                padding-left: 15px;
                background-color: #efefef;
                font-size: 14px;
                a {
                  font-size: 14px;
                }
              }

            }
          }
        }

        .video-tab {
          margin-bottom: 15px;
          .tabs-heading {
            display: flex;
            height: 33px;
            text-transform: uppercase;
            align-items: center;
            h3 {
              font-size: 14px;
              padding:0px 15px;
              border-right: 2px solid #000;
              cursor: pointer;
            }
            h3:first-child {
              padding-left: 0px;
            }
            h3:last-child{
              border-right: none;
            }
            h3.active {
              color:#008944;
            }
          }
          .all-tabs-content {
            .tab-content {
              .post-list {
                margin: -6px;
                .post{
                  width: calc((100% - 3*12px)/3);
                  padding: 6px;
                  float: left;
                  height: 180px;
                  // padding: 6px;
                  .post-title {
                    font-weight: normal;
                  }
                }
              }
              ul.slick-dots {
                display: flex !important;
                justify-content: center;
                button{
                  width: 5px;
                  height: 5px;
                  font-size: 0px;
                  border: none;
                  background-color: #cccccc;
                  margin-right: 3px;
                  outline: none;
                  cursor: pointer;
                }
                .slick-active button{
                  background-color: #ed1f24;
                }

            }
            }
          }
        }

        .banner-group {
          .banner-item {
            img {
              width: auto;
              float: left;
            }
            &:nth-child(2) {
                  img {
                    float: right;
                    width: auto;
                    height: 408px;
                  }
            }
          }
        }

      }
    }
  } //end main-top

  .video {
    margin-bottom: 15px;
    .wrapper {
      display: flex;
      padding-bottom: 15px;
      background-color: #ededed;
      .big-col {
        padding: 15px 0px 0px 15px;
        margin-right: 15px;
        h2 {
          display: inline-block;
          padding-bottom: 8px;
          border-bottom: 1px solid #ed1c24;
          text-transform: uppercase;
          font-size: 1.6rem;
          font-family:Arial, Helvetica, sans-serif;
          font-weight: 700;
          margin-bottom: 15px;
        }
        .big-post {
          .post-title {
            margin-top: 15px;
            margin-bottom: 8px;
            a {
              font-size: 26px;
            }
          }
          .post-desc {
            color: #666666;
          }
        }
      }

      .small-col {
        padding-top: 58px;
        // padding-right: 15px;
        .video-list {
          height: 520px;
          margin-right: 10px;
          .post {
            height: 115px;
            border-bottom: 1px solid #d7d7d7;
            margin-top: 15px;
            img {
              width: 165px;
              height: 100px;
              float: left;
              margin-right: 15px;
            }
          }
        }
      }
    }
  } //end video section


  .mid-banner {
    margin-bottom: 15px;
    height: 90px;
  }
  .category {
    .wrapper {
      .post-list {
        margin: -4px;
        &::after {
          content: ' ';
          clear: both;
          display: table;
        }
        .post {
          float: left;
          width: calc((100% - 3*8px)/3);
          margin: 4px;
          height: 255px;
          position: relative;
          border-radius: 5px;
          background-color: black;
          a:hover {
            color: inherit;
          }
          .post-thumb {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            img {
              width:100%;
              height:100%;
              object-fit: cover;
              overflow: hidden;
              border-radius: 5px;
            }
            &::after {
              content: '';
              width: 100%;
              height: 100%;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 0;
              background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 60%);
              border-radius: 5px;
            }
          }
          &:hover .post-thumb::after {
            background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 60%);
          }
          .post-text {
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            .post-title {
              color: white;
              margin-bottom: 10px;
            }
            .post-desc {
              display: block;
              color: #c1c0c0;
            }
          }
          .post-category {
            position: absolute;
            bottom: 15px;
            left: 15px;
            text-decoration: underline;
            color: white;
          }
        }
        // .post:nth-child(4), .post:nth-child(7) {
        //   width: calc((100% - 3*8px)/3 * 2 + 8px);
        // }
        .double {
          width: calc((100% - 3*8px)/3 * 2 + 8px);
        }
      }//end post-list

      .view-more{
        height: 30px;
        margin-top: 8px;
        margin-bottom: 25px;
        a{
          background-color: #e5e5e5;
          border-radius: 5px;
          text-align: center;
          line-height: 30px;
          display: block;
          transition: 0.2s;
          &:hover{
            background-color: #008944;
            color: white;
          }
        }
      }
    }
  }//end category section

  .bottom-banner {
    .wrapper {
      &::after {
        content: '';
        clear: both;
        display: table;
      }
      .banner-group {
        position: relative;
        margin: 0 -10px;
        height: 80px;
        margin-bottom: 45px;
        &::after {
          content: '';
          clear: both;
          display: table;
        }
        .banner-item {
          float: left;
          a {
            margin: 0 10px;
            display: block;
            img {
              height: 80px;
              width:100%;
            }
          }
        }
        .slick-dots {
          display: flex !important;
          justify-content: center;
          button{
            width: 5px;
            height: 5px;
            margin-top: 15px;
            font-size: 0px;
            border: none;
            background-color: #cccccc;
            margin-right: 3px;
            outline: none;
            cursor: pointer;
          }
          .slick-active button{
            background-color: #ed1f24;
          }
        }
        .slick-prev, .slick-next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          background-size: cover;
          background-color: transparent;
          width: 41px;
          height: 73px;
          border: none;
          font-size: 0;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }

        .slick-prev {
          left: 10px;
          background-image: url('../img/8-button/prev.png');
        }


        .slick-next {
          right: 10px;
          background-image: url('../img/8-button/next.png');
        }
        
      }
    }
  }
  
}

footer {
  .nav-bar {
    height: 37px;
    background-color: #004e27;
    .list-group {
      color: white;
      height: 37px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .list-item {
        // flex-grow: 1;
        text-align: center;
        height: 100%;
        line-height: 37px;
        position: relative;
        padding: 0px 20px;
        &:hover {
          background-color:  #00582c;
          a {
            color: white;
          }
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 37px;
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: bold;
          i {
            font-size: 2rem;
            line-height: 37px;
            margin-right: 5px;
          }
        }
        &::after{
          content: '';
          z-index: 1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0px;
          width: 2px;
          height: 15px;
          background-color: #007138;
          border-right: 1px solid #00381c;
        }
        &:hover {
          .sub-menu {
            display: block;
            a {
              border-bottom: 1px solid #00000020;
            }
          }
        }
      }
      .list-item:first-child{
        text-align: left;
        // flex-grow: 0.5;
        padding-left: 10px;
      }
      .list-item:last-child{
        text-align: right;
        // flex-grow: 0.5;
        padding-right: 15px;
        &::after {
          content: none;
        }
      }
      .sub-menu {
        position: absolute;
        min-width: 200px;
        top: 100%;
        left: 0px;
        background-color: #004e27;
        display: none;
        z-index: 1;
        a {
          display: block;
          width: 100%;
          height: 37px;
          text-align: left;
          padding-left: 20px;
          padding-right: 15px;
          &:hover {
            background-color: #00582c;
          }
        }
      }
    }
  }

  .site-info {
    border-bottom: 1px solid #e1e1e1;
    .wrapper {
      color: #585858;
      padding: 15px 0px;
      h3 {
        font-size: 12px;
        font-weight: bold;
        line-height: 30px;
      }
      p, a {
        font-size: 12px;
        line-height: 30px;
      }
      
    }
  }
  .product {
    .wrapper {
      height: 40px;
      font-size: 12px;
      line-height: 40px;
      color: #d9d8d8;
    }
  }
  .totop-btn {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    img {
      width: 36px;
      height: 36px;
      position: fixed;
      bottom: 20px;
      right: calc(50% - 565px);
      cursor: pointer;
      z-index: 1;
    }
  }
  .totop-btn.active {
    opacity: 1;
    visibility: visible;
  }
  
}
