*, *:after, *:before {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

html {
  font-size: 62.5%;
  font-family: Roboto, Arial, Helvetica, sans-serif ,'Segoe UI', Tahoma, Geneva, Verdana;
}

p, a, .title {
  font-size: 14px;
}

a:hover {
  color: #008944;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.show {
  display: block !important;
}

.hide {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

header {
  margin-bottom: 15px;
}

header .info-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.2rem;
}

header .info-bar div p {
  font-size: 12px;
  min-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3.2rem;
}

header .info-bar div p i {
  font-size: 1.5rem;
  color: #ed1f24;
  margin-right: 5px;
}

header .info-bar div p .hotline-icon {
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

header .info-bar div p a {
  font-size: 12px;
}

header .info-bar div p span {
  vertical-align: middle;
}

header .info-bar div p .separator {
  font-size: 1.2rem;
  margin: 0px 10px;
  color: #959595;
}

header .info-bar div .search-group {
  max-width: 242px;
  height: 2.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #c3c3c3;
  border: 1px solid #c3c3c3;
  padding: 0px 5px;
}

header .info-bar div .search-group .search-box {
  border: none;
  margin-right: 5px;
  outline: none;
  font-size: 12px;
}

header .info-bar div .search-group .search-icon {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: #c3c3c3;
  outline: none;
  cursor: pointer;
}

header .logo-bar {
  height: 80px;
  background-image: url("../img/0-header/background.png");
  background-size: cover;
  background-color: #008944;
  color: white;
}

header .logo-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-bar .wrapper .logo-group {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-bar .wrapper .logo-group .logo-image {
  width: 88px;
  height: 64px;
  margin-right: 20px;
}

header .logo-bar .wrapper .logo-group .title-big {
  font-size: 1.85rem;
  line-height: 1;
  margin-bottom: 10px;
}

header .logo-bar .wrapper .logo-group .title-small {
  font-size: 1.4rem;
}

header .logo-bar .wrapper .social .languages {
  text-align: right;
  margin-bottom: 15px;
}

header .logo-bar .wrapper .social .languages a {
  font-size: 12px;
}

header .logo-bar .wrapper .social .languages .separator {
  margin: 0px 10px;
}

header .logo-bar .wrapper .social .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: right;
}

header .logo-bar .wrapper .social .social-link div {
  text-align: center;
  padding-left: 18px;
}

header .logo-bar .wrapper .social .social-link div i {
  font-size: 2.2rem;
}

header .logo-bar .wrapper .social .social-link div i:hover {
  color: #004e27;
}

header .logo-bar .wrapper .social .social-link div i img {
  width: auto;
  height: auto;
}

header .logo-bar .wrapper .social .social-link div p {
  font-size: 0.8rem;
}

header .nav-bar {
  height: 37px;
  background-color: #004e27;
}

header .nav-bar .list-group {
  color: white;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar .list-group .list-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  height: 100%;
  line-height: 37px;
  position: relative;
  padding: 0px 15px;
}

header .nav-bar .list-group .list-item:hover {
  background-color: #00582c;
}

header .nav-bar .list-group .list-item:hover a {
  color: white;
}

header .nav-bar .list-group .list-item a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

header .nav-bar .list-group .list-item a i {
  font-size: 2rem;
  line-height: 37px;
  margin-right: 5px;
}

header .nav-bar .list-group .list-item::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  width: 2px;
  height: 15px;
  background-color: #007138;
  border-right: 1px solid #00381c;
}

header .nav-bar .list-group .list-item:hover .sub-menu {
  display: block;
}

header .nav-bar .list-group .list-item:first-child {
  text-align: left;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  padding-left: 0;
}

header .nav-bar .list-group .list-item:last-child {
  text-align: right;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  padding-right: 15px;
}

header .nav-bar .list-group .list-item:last-child::after {
  content: none;
}

header .nav-bar .list-group .sub-menu {
  position: absolute;
  min-width: 200px;
  top: 100%;
  left: 0px;
  background-color: #004e27;
  display: none;
  z-index: 1;
}

header .nav-bar .list-group .sub-menu a {
  display: block;
  width: 100%;
  height: 37px;
  text-align: left;
  padding-left: 20px;
  padding-right: 15px;
  border-bottom: 1px solid #00000020;
}

header .nav-bar .list-group .sub-menu a:hover {
  background-color: #00582c;
}

header .ticker-bar {
  border-bottom: 1px solid #ebebeb;
}

header .ticker-bar .wrapper {
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .ticker-bar .wrapper .hot {
  width: 21px;
  height: 10px;
  background-color: #f30000;
  color: white;
  font-size: 0.6rem;
  text-align: center;
  margin-right: 17px;
  padding: 2px;
  border-radius: 2px;
}

header .ticker-bar .wrapper .marquee {
  width: 100%;
}

header .ticker-bar .wrapper .marquee a {
  margin: 0px 10px;
  font-size: 12px;
}

html, body, main {
  width: 100%;
}

.wrapper {
  width: 1130px;
  margin: auto;
}

.big-col {
  width: 695px;
}

.small-col {
  width: 420px;
}

.all-tabs-content > div {
  display: none;
}

.show {
  display: block !important;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .post-list {
  font-size: 1.4rem;
  color: #333333;
}

main .post-list .post-thumb {
  margin-bottom: 8px;
  display: block;
}

main .post-list .post-title {
  font-weight: bold;
  display: block;
}

main .post-list .post-desc {
  display: none;
}

main .main-top {
  margin-bottom: 15px;
}

main .main-top a:hover {
  color: #008944;
}

main .main-top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-top .wrapper .big-col {
  width: 695px;
  margin-right: 15px;
}

main .main-top .wrapper .big-col .post-list {
  margin: -7.5px;
}

main .main-top .wrapper .big-col .post-list .post {
  float: left;
  width: calc((100% - 4*15px)/4);
  margin: 7.5px;
}

main .main-top .wrapper .big-col .post-list .post:first-child {
  width: calc(100% - ((100% - 4*15px)/4) - 30px);
}

main .main-top .wrapper .big-col .post-list .post:first-child .post-thumb {
  margin-bottom: 12px;
  display: block;
}

main .main-top .wrapper .big-col .post-list .post:first-child .post-title {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

main .main-top .wrapper .big-col .post-list .post:first-child .post-desc {
  display: block;
}

main .main-top .wrapper .big-col .banner {
  margin-bottom: 15px;
}

main .main-top .wrapper .big-col .megastory {
  padding: 15px;
  background-color: #fedd7c;
}

main .main-top .wrapper .big-col .megastory::after {
  content: ' ';
  clear: both;
  display: table;
}

main .main-top .wrapper .big-col .megastory h2 {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 1px solid #ed1c24;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

main .main-top .wrapper .big-col .megastory .post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-top .wrapper .big-col .megastory .post-list .post:first-child {
  width: calc(100% - ((100% - 4*15px)/4)*2 - 45px);
  position: relative;
}

main .main-top .wrapper .big-col .megastory .post-list .post:first-child .post-thumb {
  margin-bottom: 0px;
}

main .main-top .wrapper .big-col .megastory .post-list .post:first-child .post-title {
  font-size: 1.8rem;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 15px;
  max-width: 295px;
}

main .main-top .wrapper .small-col {
  font-size: 1.4rem;
}

main .main-top .wrapper .small-col .live-tv {
  margin-bottom: 10px;
}

main .main-top .wrapper .small-col .live-tv .tabs-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
}

main .main-top .wrapper .small-col .live-tv .tabs-heading h3 {
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1px;
  width: calc(100% / 3);
  cursor: pointer;
}

main .main-top .wrapper .small-col .live-tv .tabs-heading .tab1 {
  background-color: #ce3d3d;
}

main .main-top .wrapper .small-col .live-tv .tabs-heading .tab2 {
  background-color: #008944;
}

main .main-top .wrapper .small-col .live-tv .tabs-heading .tab3 {
  background-color: #004e27;
  margin-right: 0px;
}

main .main-top .wrapper .small-col .live-tv .all-tabs-content div h3 {
  height: 37px;
  line-height: 37px;
  text-transform: uppercase;
  color: #292929;
  padding-left: 15px;
  background-color: #efefef;
  font-size: 14px;
}

main .main-top .wrapper .small-col .live-tv .all-tabs-content div h3 a {
  font-size: 14px;
}

main .main-top .wrapper .small-col .video-tab {
  margin-bottom: 15px;
}

main .main-top .wrapper .small-col .video-tab .tabs-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-top .wrapper .small-col .video-tab .tabs-heading h3 {
  font-size: 14px;
  padding: 0px 15px;
  border-right: 2px solid #000;
  cursor: pointer;
}

main .main-top .wrapper .small-col .video-tab .tabs-heading h3:first-child {
  padding-left: 0px;
}

main .main-top .wrapper .small-col .video-tab .tabs-heading h3:last-child {
  border-right: none;
}

main .main-top .wrapper .small-col .video-tab .tabs-heading h3.active {
  color: #008944;
}

main .main-top .wrapper .small-col .video-tab .all-tabs-content .tab-content .post-list {
  margin: -6px;
}

main .main-top .wrapper .small-col .video-tab .all-tabs-content .tab-content .post-list .post {
  width: calc((100% - 3*12px)/3);
  padding: 6px;
  float: left;
  height: 180px;
}

main .main-top .wrapper .small-col .video-tab .all-tabs-content .tab-content .post-list .post .post-title {
  font-weight: normal;
}

main .main-top .wrapper .small-col .video-tab .all-tabs-content .tab-content ul.slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-top .wrapper .small-col .video-tab .all-tabs-content .tab-content ul.slick-dots button {
  width: 5px;
  height: 5px;
  font-size: 0px;
  border: none;
  background-color: #cccccc;
  margin-right: 3px;
  outline: none;
  cursor: pointer;
}

main .main-top .wrapper .small-col .video-tab .all-tabs-content .tab-content ul.slick-dots .slick-active button {
  background-color: #ed1f24;
}

main .main-top .wrapper .small-col .banner-group .banner-item img {
  width: auto;
  float: left;
}

main .main-top .wrapper .small-col .banner-group .banner-item:nth-child(2) img {
  float: right;
  width: auto;
  height: 408px;
}

main .video {
  margin-bottom: 15px;
}

main .video .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  background-color: #ededed;
}

main .video .wrapper .big-col {
  padding: 15px 0px 0px 15px;
  margin-right: 15px;
}

main .video .wrapper .big-col h2 {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 1px solid #ed1c24;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

main .video .wrapper .big-col .big-post .post-title {
  margin-top: 15px;
  margin-bottom: 8px;
}

main .video .wrapper .big-col .big-post .post-title a {
  font-size: 26px;
}

main .video .wrapper .big-col .big-post .post-desc {
  color: #666666;
}

main .video .wrapper .small-col {
  padding-top: 58px;
}

main .video .wrapper .small-col .video-list {
  height: 520px;
  margin-right: 10px;
}

main .video .wrapper .small-col .video-list .post {
  height: 115px;
  border-bottom: 1px solid #d7d7d7;
  margin-top: 15px;
}

main .video .wrapper .small-col .video-list .post img {
  width: 165px;
  height: 100px;
  float: left;
  margin-right: 15px;
}

main .mid-banner {
  margin-bottom: 15px;
  height: 90px;
}

main .category .wrapper .post-list {
  margin: -4px;
}

main .category .wrapper .post-list::after {
  content: ' ';
  clear: both;
  display: table;
}

main .category .wrapper .post-list .post {
  float: left;
  width: calc((100% - 3*8px)/3);
  margin: 4px;
  height: 255px;
  position: relative;
  border-radius: 5px;
  background-color: black;
}

main .category .wrapper .post-list .post a:hover {
  color: inherit;
}

main .category .wrapper .post-list .post .post-thumb {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

main .category .wrapper .post-list .post .post-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

main .category .wrapper .post-list .post .post-thumb::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 60%);
  border-radius: 5px;
}

main .category .wrapper .post-list .post:hover .post-thumb::after {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(60%, rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.5) 60%);
}

main .category .wrapper .post-list .post .post-text {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}

main .category .wrapper .post-list .post .post-text .post-title {
  color: white;
  margin-bottom: 10px;
}

main .category .wrapper .post-list .post .post-text .post-desc {
  display: block;
  color: #c1c0c0;
}

main .category .wrapper .post-list .post .post-category {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-decoration: underline;
  color: white;
}

main .category .wrapper .post-list .double {
  width: calc((100% - 3*8px)/3 * 2 + 8px);
}

main .category .wrapper .view-more {
  height: 30px;
  margin-top: 8px;
  margin-bottom: 25px;
}

main .category .wrapper .view-more a {
  background-color: #e5e5e5;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .category .wrapper .view-more a:hover {
  background-color: #008944;
  color: white;
}

main .bottom-banner .wrapper::after {
  content: '';
  clear: both;
  display: table;
}

main .bottom-banner .wrapper .banner-group {
  position: relative;
  margin: 0 -10px;
  height: 80px;
  margin-bottom: 45px;
}

main .bottom-banner .wrapper .banner-group::after {
  content: '';
  clear: both;
  display: table;
}

main .bottom-banner .wrapper .banner-group .banner-item {
  float: left;
}

main .bottom-banner .wrapper .banner-group .banner-item a {
  margin: 0 10px;
  display: block;
}

main .bottom-banner .wrapper .banner-group .banner-item a img {
  height: 80px;
  width: 100%;
}

main .bottom-banner .wrapper .banner-group .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .bottom-banner .wrapper .banner-group .slick-dots button {
  width: 5px;
  height: 5px;
  margin-top: 15px;
  font-size: 0px;
  border: none;
  background-color: #cccccc;
  margin-right: 3px;
  outline: none;
  cursor: pointer;
}

main .bottom-banner .wrapper .banner-group .slick-dots .slick-active button {
  background-color: #ed1f24;
}

main .bottom-banner .wrapper .banner-group .slick-prev, main .bottom-banner .wrapper .banner-group .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  background-size: cover;
  background-color: transparent;
  width: 41px;
  height: 73px;
  border: none;
  font-size: 0;
  cursor: pointer;
}

main .bottom-banner .wrapper .banner-group .slick-prev:focus, main .bottom-banner .wrapper .banner-group .slick-next:focus {
  outline: none;
}

main .bottom-banner .wrapper .banner-group .slick-prev {
  left: 10px;
  background-image: url("../img/8-button/prev.png");
}

main .bottom-banner .wrapper .banner-group .slick-next {
  right: 10px;
  background-image: url("../img/8-button/next.png");
}

footer .nav-bar {
  height: 37px;
  background-color: #004e27;
}

footer .nav-bar .list-group {
  color: white;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav-bar .list-group .list-item {
  text-align: center;
  height: 100%;
  line-height: 37px;
  position: relative;
  padding: 0px 20px;
}

footer .nav-bar .list-group .list-item:hover {
  background-color: #00582c;
}

footer .nav-bar .list-group .list-item:hover a {
  color: white;
}

footer .nav-bar .list-group .list-item a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

footer .nav-bar .list-group .list-item a i {
  font-size: 2rem;
  line-height: 37px;
  margin-right: 5px;
}

footer .nav-bar .list-group .list-item::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  width: 2px;
  height: 15px;
  background-color: #007138;
  border-right: 1px solid #00381c;
}

footer .nav-bar .list-group .list-item:hover .sub-menu {
  display: block;
}

footer .nav-bar .list-group .list-item:hover .sub-menu a {
  border-bottom: 1px solid #00000020;
}

footer .nav-bar .list-group .list-item:first-child {
  text-align: left;
  padding-left: 10px;
}

footer .nav-bar .list-group .list-item:last-child {
  text-align: right;
  padding-right: 15px;
}

footer .nav-bar .list-group .list-item:last-child::after {
  content: none;
}

footer .nav-bar .list-group .sub-menu {
  position: absolute;
  min-width: 200px;
  top: 100%;
  left: 0px;
  background-color: #004e27;
  display: none;
  z-index: 1;
}

footer .nav-bar .list-group .sub-menu a {
  display: block;
  width: 100%;
  height: 37px;
  text-align: left;
  padding-left: 20px;
  padding-right: 15px;
}

footer .nav-bar .list-group .sub-menu a:hover {
  background-color: #00582c;
}

footer .site-info {
  border-bottom: 1px solid #e1e1e1;
}

footer .site-info .wrapper {
  color: #585858;
  padding: 15px 0px;
}

footer .site-info .wrapper h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
}

footer .site-info .wrapper p, footer .site-info .wrapper a {
  font-size: 12px;
  line-height: 30px;
}

footer .product .wrapper {
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  color: #d9d8d8;
}

footer .totop-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .totop-btn img {
  width: 36px;
  height: 36px;
  position: fixed;
  bottom: 20px;
  right: calc(50% - 565px);
  cursor: pointer;
  z-index: 1;
}

footer .totop-btn.active {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */